python-dotenv 
fastapi
uvicorn[standard]
websockets
httpx
torch
torchaudio
packaging
psycopg2-binary
asyncpg
sqlalchemy[asyncio]
aiohttp>=3.9.0
numpy
gspread
google-auth
google-auth-oauthlib
huggingface_hub
transformers
accelerate
safetensors
bitsandbytes
scipy
protobuf
sentencepiece